# ~/.gitconfig

[user]
    name       = Michael Deschu
    email      = michael.deschu@gmail.com
    signingkey = 48660B09
[core]
    editor       = vim
    pager        = less -FRSX
    autocrlf     = false
    excludesfile = ~/.gitexclude
[color]
    ui = auto
[gui]
    encoding = utf-8
[status]
    showUntrackedFiles = no
[alias]
    gr = grep
    st = status
    ci = commit
    br = branch
    df = diff
    co = checkout

    # shows all the commits I made in the last week
    # from the branch provided to it
    weekly-report = !sh -c 'git log --since=\"1 week ago\" --author=\"Michael Deschu\" $0'

    # shortcut to clean up the repo
    tidy = !sh -c 'git prune && git gc'

    # use vim/less to view a file within a bare repository
    # or a different version of the file without changing
    # the working tree version
    view = "!sh -c \"git show \"\\$0:\\$1\" | expand -t 4 > /tmp/\\${1##*/} && vim -u /usr/share/vim/vim72/macros/less.vim -c \\\"set nowrap\\\" /tmp/\\${1##*/}; rm /tmp/\\${1##*/}\""

    # untested: show the differences between functions instead
    # of the entire file
    funcdiff = !sh -c \"git show \"\\$1:\\$3\" | sed -n \"/^[^ \\t].*\\$4(/,/^}/p\" > .tmp1 && git show \"\\$2:\\$3\" | sed -n \"/^[^ \\t].*\\$4(/,/^}/p\" > .tmp2 && git diff --no-index .tmp1 .tmp2\"

